* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Roboto', sans-serif;
}

.wrapper {
  max-width: 1000px;
  margin: 0 auto;
}

.minibar {
  background-color: #1975D1;
  font-size: 1.5rem;
  padding-bottom: 5px;
}

.minibar .minibar__contacts {
  text-align: center;
}

.minibar .minibar__contacts .contact__phone,
.minibar .minibar__contacts .contact__email {
  display: inline-block;
  color: white;
  text-decoration: none;
  text-align: center;
  padding: 10px;
}

.minibar .minibar__socials {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.minibar .minibar__socials .social__link {
  font-size: 2.2rem;
  color: #1975D1;
  width: 30px;
  height: 30px;
  background-color: #fff;
  border-radius: 50%;
  position: relative;
  -webkit-transition: .5s;
  transition: .5s;
}

.minibar .minibar__socials .social__link .social__icon {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

@media (min-width: 520px) {
  .minibar {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    width: 100%;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0;
  }
  .minibar .social__link {
    margin: 0 5px;
  }
}

@media (min-width: 1024px) {
  .minibar .social__link:hover {
    background-color: #F95C59;
    color: white;
  }
}

.main-navbar {
  max-width: 1200px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main-navbar .nav__logo {
  padding: 5px;
}

.main-navbar .main-navbar__nav {
  position: fixed;
  background-color: #fff;
  top: 0;
  left: 0;
  height: 0;
  width: 100%;
  -webkit-transition: .4s;
  transition: .4s;
  z-index: 1;
}

.main-navbar .main-navbar__nav.active {
  height: 100%;
}

.main-navbar .main-navbar__nav .nav__list {
  display: none;
  list-style-type: none;
  z-index: 1;
}

.main-navbar .main-navbar__nav .nav__list.active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

.main-navbar .main-navbar__nav .nav__list .nav__item {
  padding: 10px 20px;
}

.main-navbar .main-navbar__nav .nav__list .nav__item .nav__link {
  text-decoration: none;
  color: black;
  font-size: 2.8rem;
  font-weight: bold;
}

.main-navbar .main-navbar__hamburger {
  background-color: transparent;
  width: 40px;
  height: 35px;
  border: none;
  position: absolute;
  top: 90px;
  right: 20px;
  cursor: pointer;
  overflow: hidden;
  z-index: 2;
}

.main-navbar .main-navbar__hamburger.active {
  position: fixed;
}

.main-navbar .main-navbar__hamburger .hamburger__item {
  position: absolute;
  width: 100%;
  height: 3px;
  border-radius: 5px;
  background-color: black;
  -webkit-transition: top .2s, left .2s, -webkit-transform .2s;
  transition: top .2s, left .2s, -webkit-transform .2s;
  transition: top .2s, transform .2s, left .2s;
  transition: top .2s, transform .2s, left .2s, -webkit-transform .2s;
}

.main-navbar .main-navbar__hamburger .hamburger__item--first {
  top: 0;
  left: 0;
}

.main-navbar .main-navbar__hamburger .hamburger__item--first.active {
  top: calc(50% - 4px);
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.main-navbar .main-navbar__hamburger .hamburger__item--second {
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.main-navbar .main-navbar__hamburger .hamburger__item--second.active {
  left: 50px;
  opacity: 0;
}

.main-navbar .main-navbar__hamburger .hamburger__item--third {
  bottom: 0;
  left: 0;
}

.main-navbar .main-navbar__hamburger .hamburger__item--third.active {
  top: calc(50% - 4px);
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

@media (min-width: 520px) {
  .main-navbar .main-navbar__hamburger {
    top: 55px;
  }
}

@media (orientation: landscape) {
  .main-navbar .nav__item {
    padding: 5px 20px;
  }
  .main-navbar .nav__item .nav__link {
    font-size: 2.2rem;
  }
}

@media (min-width: 1250px) {
  .main-navbar .main-navbar__hamburger {
    display: none;
  }
  .main-navbar .main-navbar__nav {
    position: relative;
    min-height: 60px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .main-navbar .main-navbar__nav .nav__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .main-navbar .main-navbar__nav .nav__list .nav__item {
    position: relative;
  }
  .main-navbar .main-navbar__nav .nav__list .nav__item .nav__link {
    text-transform: uppercase;
    font-size: 1.5rem;
    padding: 5px;
    -webkit-transition: .3s;
    transition: .3s;
  }
  .main-navbar .main-navbar__nav .nav__list .nav__item .nav__link:hover {
    color: #F95C59;
  }
  .main-navbar .main-navbar__nav .nav__list .nav__item:after {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    width: 0;
    height: 3px;
    bottom: 0;
    background-color: #F95C59;
    -webkit-transition: .3s;
    transition: .3s;
  }
  .main-navbar .main-navbar__nav .nav__list .nav__item:hover:after {
    width: 100%;
  }
}

.header {
  background: url(../../img/header.png) no-repeat center;
  background-attachment: fixed;
  background-size: cover;
  min-height: 75vh;
  position: relative;
}

.header .header__content {
  background-color: rgba(0, 0, 0, 0.65);
  padding: 5vh 10px;
  text-align: center;
  color: white;
  min-height: 75vh;
}

.header .header__content .header__title {
  text-transform: uppercase;
  font-size: 3.6rem;
}

.header .header__content .header__title .header__title--color {
  color: #1975D1;
}

.header .header__content .header__description {
  font-size: 1.4rem;
  padding: 15px 0;
}

.header .header__content .btn {
  color: white;
  border: none;
  text-transform: uppercase;
  cursor: pointer;
  border-radius: 3px;
}

.header .header__content .btn-main {
  font-size: 18px;
  padding: 20px 30px;
  background-color: #03A9F3;
  -webkit-transition: .3s;
  transition: .3s;
}

.header .header__content .btn-main__icon {
  -webkit-transition: .3s;
  transition: .3s;
}

.header .header__content .header__scroll {
  width: 28px;
  height: 55px;
  border: 1px solid white;
  border-radius: 12px;
  position: absolute;
  left: 50%;
  bottom: 5%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  overflow: hidden;
}

.header .header__content .header__scroll:after {
  display: block;
  content: '';
  width: 2px;
  height: 8px;
  background-color: white;
  position: absolute;
  left: 50%;
  top: 10%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  -webkit-animation: scrollAnimation 2s linear infinite;
          animation: scrollAnimation 2s linear infinite;
}

@-webkit-keyframes scrollAnimation {
  0% {
    top: 10%;
    opacity: 1;
  }
  40% {
    top: 40%;
    opacity: .8;
  }
  80% {
    top: 70%;
    opacity: 0;
  }
  100% {
    top: 100%;
    opacity: 0;
  }
}

@keyframes scrollAnimation {
  0% {
    top: 10%;
    opacity: 1;
  }
  40% {
    top: 40%;
    opacity: .8;
  }
  80% {
    top: 70%;
    opacity: 0;
  }
  100% {
    top: 100%;
    opacity: 0;
  }
}

@media (min-width: 360px) {
  .header .header__content {
    padding: 20vh 10px;
  }
}

@media (min-width: 720px) {
  .header .header__content {
    padding: 30vh 10px;
  }
  .header .header__content .header__title {
    font-size: 5rem;
  }
  .header .header__content .header__description {
    font-size: 1.8rem;
    padding-bottom: 40px;
  }
}

@media (min-width: 1250px) {
  .header .btn-main:hover {
    background-color: #F95C59;
  }
  .header .btn-main:hover .btn-main__icon {
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
  }
}

.services {
  background-image: -webkit-gradient(linear, left top, right top, from(#1975D1), color-stop(50%, #1975D1), color-stop(50%, #03A9F3));
  background-image: linear-gradient(to right, #1975D1, #1975D1 50%, #03A9F3 50%);
  color: white;
  text-transform: uppercase;
}

.services .services__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.services .services__list .service__item {
  list-style-type: none;
  font-size: 1.5rem;
  text-align: center;
  font-weight: bold;
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
}

.services .services__list .service__item:nth-child(odd) {
  background-color: #1975D1;
}

.services .services__list .service__item:nth-child(even) {
  background-color: #03A9F3;
}

.services .services__list .service__item .service__icon {
  font-size: 40px;
  padding: 40px 0 0 0;
}

.services .services__list .service__item .service__description {
  padding: 20px;
}

@media (min-width: 600px) {
  .services .services__list .service__item {
    -ms-flex-preferred-size: 30%;
        flex-basis: 30%;
  }
}

@media (min-width: 900px) {
  .services .services__list {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    max-width: 1200px;
    margin: 0 auto;
  }
}

.about .about__list {
  margin: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 1200px;
  margin: 0 auto;
}

.about .about__list .about__item {
  list-style-type: none;
  margin: 5px;
  display: inline-block;
  position: relative;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
}

.about .about__list .about__item .about__item-icon {
  width: 30px;
  height: 30px;
  background-color: #F95C59;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 50%;
}

.about .about__list .about__item .about__item-icon .about__icon {
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-size: 14px;
}

.about .about__list .about__item .about__text-content {
  padding: 0 10px 10px 40px;
}

.about .about__list .about__item .about__text-content .about__title {
  font-size: 18px;
  margin-top: 5px;
  text-transform: uppercase;
}

.about .about__list .about__item .about__text-content .about__description {
  padding-top: 8px;
  font-size: 11px;
  color: gray;
  line-height: 18px;
}

@media (min-width: 500px) {
  .about .about__list .about__item {
    -ms-flex-preferred-size: 45%;
        flex-basis: 45%;
  }
}

@media (min-width: 600px) {
  .about .about__list .about__item {
    -ms-flex-preferred-size: 30%;
        flex-basis: 30%;
  }
}

@media (min-width: 812px) {
  .about .about__list {
    padding: 20px;
  }
}

@media (min-width: 1200px) {
  .about .about__list .about__item {
    padding: 20px;
  }
  .about .about__list .about__item .about__item-icon {
    width: 40px;
    height: 40px;
    top: 20px;
    left: 20px;
  }
  .about .about__list .about__item .about__item-icon .about__icon {
    font-size: 20px;
  }
  .about .about__list .about__item .about__text-content {
    padding: 0 10px 10px 50px;
  }
  .about .about__list .about__item .about__text-content .about__title {
    font-size: 22px;
  }
}

.video {
  height: 60vh;
  overflow: hidden;
  position: relative;
}

.video .video__title {
  text-align: center;
  text-transform: uppercase;
  font-size: 2.5rem;
  background-color: rgba(0, 0, 0, 0.4);
  color: white;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 100%;
  padding: 30px 5px;
  -webkit-animation: textAnimate 12s infinite linear both;
          animation: textAnimate 12s infinite linear both;
  opacity: 0;
  z-index: 1;
}

.video .video__title:nth-of-type(2) {
  -webkit-animation-delay: 4s;
          animation-delay: 4s;
}

.video .video__title:nth-of-type(3) {
  -webkit-animation-delay: 8s;
          animation-delay: 8s;
}

.video .video__item {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  min-width: 100%;
  min-height: 100%;
}

@media (min-width: 1200px) {
  .video {
    height: 45vh;
  }
}

@-webkit-keyframes textAnimate {
  0% {
    opacity: 0;
  }
  5% {
    opacity: 0;
  }
  8% {
    opacity: 1;
  }
  25% {
    opacity: 1;
  }
  28% {
    opacity: 0;
  }
  33.3% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@keyframes textAnimate {
  0% {
    opacity: 0;
  }
  5% {
    opacity: 0;
  }
  8% {
    opacity: 1;
  }
  25% {
    opacity: 1;
  }
  28% {
    opacity: 0;
  }
  33.3% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

.sth {
  background-color: gray;
  height: 300vh;
}
/*# sourceMappingURL=style.css.map */