// Colors

$dark-blue: #1975d1;
$light-blue: #03a9f3;
$red: #f95c59;
$dark: #212121;

//Font size

$font-small: 1.5rem;
$font-middle: 2.2rem;
$font-big: 2.8rem;
$font-biger: 2.9rem;

// ---
//Section title
$font-title-small: 3.1rem;
$font-title-big: 4rem;

// Section description
$font-description-small: 1.4rem;
