// Colors

$dark-blue: #1975D1;
$light-blue: #03A9F3;
$red: #F95C59;
$dark: #212121;


//Font size

$font-small: 1.5rem;
$font-middle: 2.2rem;
$font-big: 2.8rem;
$font-biger: 2.9rem;

// ---
//Section title
$font-title-small: 3.1rem;
$font-title-big: 4rem;


// Section description
$font-description-small: 1.4rem;