.minibar {
    background-color: $dark-blue;
    font-size: $font-small;
    padding-bottom: 5px;

    .minibar__contacts {
        text-align: center;

        .contact__phone,
        .contact__email {
            display: inline-block;
            color: white;
            text-decoration: none;
            text-align: center;
            padding: 10px;
        }
    }

    .minibar__socials {
        text-align: center;
        display: flex;
        justify-content: space-around;

        .social__link {
            font-size: $font-middle;
            color: $dark-blue;
            width: 30px;
            height: 30px;
            background-color: #fff;
            border-radius: 50%;
            position: relative;
            transition: .5s;

            .social__icon {
                @include centerAbsolute;
            }
        }
    }

    @media(min-width:520px) {
        display: inline-flex;
        width: 100%;
        justify-content: space-around;
        align-items: center;
        padding: 0;

        .social__link {
            margin: 0 5px;
        }
    }

    @media(min-width:1024px) {
        .social__link:hover {
            background-color: $red;
            color: white;
        }
    }
}