.portfolio {
    text-align: center;
    max-width: 1000px;
    margin: 0 auto;



    .portfolio__title {
        @include section-title;
    }

    .portfolio__description {
        @include section-description;
    }

    .portfolio__buttons {
        padding: 20px 10px 40px;

        .portfolio__btn {
            @include btn;
            font-weight: bold;
            font-size: 17px;
            padding: 10px 15px;
            margin: 5px;
            background-color: transparent;
            color: black;
            transition: .5s;

            &.active {
                background-color: $light-blue;
                color: white;
                transition: .5s;
            }

            @media(min-width: 1200px) {
                &:hover {
                    background-color: $light-blue;
                    color: white;
                }
            }
        }
    }

    .portfolio__projects {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;

        .disable {
            display: none;
        }

        .portfolio__project {
            flex-basis: 80%;
            padding: 5px;
            margin: 10px;
            box-shadow: 0 0 5px black;

            .project__img {
                width: 100%;
            }

            .project__details {
                display: none;
            }

            @media(min-width: 500px) {
                flex-basis: 45%;
            }

            @media(min-width: 770px) {
                flex-basis: 30%;

            }

            @media(min-width: 1200px) {
                position: relative;
                overflow: hidden;

                .project__details {
                    display: block;
                    position: absolute;
                    top: 330px;
                    left: 5px;
                    bottom: 5px;
                    right: 5px;
                    background-color: $light-blue;
                    opacity: 0;
                    transition: 1s top, .5s opacity;

                    .project__center-wrapper {
                        color: white;
                        @include centerAbsolute;
                        // text-transform: uppercase;

                        .project__link {
                            font-size: 36px;
                            color: white;
                            padding: 5px;
                            transition: .5s;

                            &:hover {
                                color: black;
                            }
                        }

                        .project__title {
                            font-size: 24px;
                            padding: 15px 0 10px 0;
                        }

                        .project__description {
                            font-size: 16px;
                        }

                    }

                }
            }

            @media(min-width: 1200px) {
                &:hover .project__details {
                    top: 5px;
                    opacity: 1;
                }
            }
        }
    }

    .btn {
        @include btn;
        margin: 50px 0 100px 0;
    }

    .btn-main {
        @include btn-main;
        transition: .3s;
    }

    .btn-main__icon {
        transition: .3s;
    }

    @media(min-width: 1200px) {
        .btn-main:hover {
            background-color: $red;
        }

        .btn-main:hover .btn-main__icon {
            transform: rotate(90deg);
        }
    }
}